.tour_item {
  display: flex;
  flex-direction: column;
  margin: 0px auto;
  align-items: center;
  width: 100%;
  box-sizing: border-box; /* 패딩 및 보더를 포함한 크기 계산 */
}

.thumbnail_container {
  position: relative;
  width: 100%;
  aspect-ratio: 1 / 1; /* 너비와 동일한 높이 설정 */
}

.tour_thumbnail {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.heart_container {
  position: absolute;
  top: 10px;
  right: 10px;
}

.heart_container {
  position: absolute;
  top: 10px;
  right: 10px;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 5px 0px;
}


.infoTopLeftContainer {
  width: 70%;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.infoTopRightContainer {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.infoTopContainer {
  display: flex;
  justify-content: space-between;
}

.infoBottomContainer {
  display: flex;
  justify-content: space-between;
}

.tour_title {
  margin-top: 1px;
  margin-bottom: 0px;
  font-weight: 600;
  font-size: 20px;
}

.tour_duration {
  font-size: 14px;
  margin: 1px;
  margin-bottom: 3px;
  color: #585858;
  color: #585858;
  margin-top: 4px;
}

.tour_rightinfo {
  width: 30%;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: end  ;
  align-items: end;
}

.tour_nav {
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 0px;
  margin: 0px;
  margin-bottom: 5px;
}

.nav_img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 1px solid #d9d9d9;
  margin-right: 5px;
  margin-top: 0px;
  margin-bottom: 0px;
}



.navLanguages {
  font-size: 14px;
  margin: 0;
}

.categoryContainer {
  display: flex;
  gap: 5px;
}

.categoryBox {
  font-size: 13px;
  padding: 0 5px;
  border-radius: 5px;
  color: white;
  background-color: #20bec9;
  margin: 1px;
}