.Detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100%;
  box-sizing: border-box; /* 패딩 및 보더를 포함한 크기 계산 */
}

.tour_img {
  width: 100%;
  overflow: hidden;
  position: relative;
  height: 360px;
}

.tour_info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin: 10px 0;
  padding: 0px;
}

.tour_leftinfo {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.tour_title {
  margin: 0; /* 수정 */
  font-weight: 600;
  color: #585858;
}

.tour_maxParticipants {
  margin: 0;
}

.tour_duration {
  font-size: 14px;
  margin: 0; /* 수정 */
  color: #585858;
}

.tour_leftinfo,
.tour_rightinfo {
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.tour_rating {
  display: flex;
  justify-content: end;
}

.tour_nav {
  display: flex;
  justify-content: end;
  align-items: center;
  margin: 1px 0px;
}

.tour_nav_language {
  display: flex;
  justify-content: end;
  padding-right: 0px;
}

.tour_nav_language_inner {
  margin: 1px 0px;
  font-size: 15px;
  font-weight: 500;
  display: flex;
  justify-content: end;
  align-items: center;
}

.tour_nav_language_inner > img {
  width: 18px;
  height: 18px;
  margin-right: 2px;
}

.tour_nav_language_inner > p {
  text-align: end;
  margin-right: 5px;
  font-size: 12px;
}

.navInfo {
  display: flex;
  justify-content: left;
  width: 100%;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}

.navInfo_inner {
  display: flex;
  margin: 20px;
  width: 250px;
}

.navInfoImage {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.nav_img {
  width: 70px;
  height: 70px;
  border-radius: 70%;
  border: 1px solid #d9d9d9;
}

.navInfoText * {
  width: 400px;
  font-weight: bold;
}

.navNickname {
  display: flex;
  align-items: center;
  margin-bottom: 0px;
}

.navLanguage {
  margin-top: 2px;
  font-size: 15px;
}

.NativeNavs {
  width: 19px;
  height: 19px;
}

/* 투어 일정 */
.tourPlan {
  width: 100%; /* 추가 */
  text-align: left; /* 추가 */
  border-bottom: 1px solid #d9d9d9;
}

.tourPlanContainer {
  display: flex;
  flex-direction: column;
}

/* 투어 당부사항 */
.tourReminder {
  width: 100%; /* 추가 */
  text-align: left; /* 추가 */
  padding-left: 20px; /* 추가 */
  border-bottom: 1px solid #d9d9d9;
}

.tour_title,
.tourReminderPrive,
.tourReminderDecription,
.tourPlanTitle {
  font-weight: bold;
}

.tour_info,
.navInfo,
.tourPlan,
.tourReminder,
.tourReview {
  width: 100vw; /* 전체 너비 사용 */
  box-sizing: border-box; /* 패딩 및 보더를 포함한 크기 계산 */
  padding: 0 20px; /* 좌우 여백 추가 */
}

.tourPlan {
  padding-bottom: 20px;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden; /* 수평 스크롤 숨기기 */
}

html {
  width: 100%;
  height: 100%;
}

.WriterOnlyOptionSection {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  right: 10px;
  top: 10px;
  z-index: 1000;

  .WriterOptions {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    button {
      height: 30px;
      font-size: 20px;
    }

    .buttonEdit {
      width: 25vw;
      background-color: #d9d9d9;
      border: none;
      border-radius: 5px;
      margin-top: 10px;
      transition: all 0.05s ease-in-out;
    }

    .buttonDelete {
      width: 25vw;
      background-color: #ff3333;
      border-radius: 5px;
      border: none;
      color: white;
      margin-top: 10px;
      transition: all 0.05s ease-in-out;
    }

    .buttonDelete:active,
    .buttonEdit:active {
      transform: scale(0.95);
    }

    .buttonDelete:focus,
    .buttonEdit:focus {
      outline: none;
    }
  }
}
