.Detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100%;
  box-sizing: border-box;
}

.tour_img {
  width: 100%;
  overflow: hidden;
  position: relative;
  height: 360px;
}

.tour_info {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: stretch;
  margin: 10px 0px;
}

.tour_info_first {
  display: flex;
  justify-content: space-between;
}

.tour_title {
  margin: 0;
  font-weight: 600;
  color: black;
  max-width: 70%;
}

.tour_maxParticipants {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.tour_duration {
  font-size: 14px;
  margin: 0;
  color: #585858;
}

.tour_nav {
  display: flex;
  justify-content: end;
  align-items: center;
  margin: 1px 0px;
}

.tour_nav_language {
  display: flex;
  justify-content: end;
  padding: 0px;
}

.langlang {
  margin-left: 3.5px;
}

.tour_nav_language_inner {
  display: flex;
  margin: 1px 0px;
  font-size: 15px;
  font-weight: 500;
  display: flex;
  justify-content: end;
  align-items: center;
}

.tour_nav_language_inner > img {
  width: 18px;
  height: 18px;
  margin-right: 2px;
}

.tour_nav_language_inner > p {
  text-align: end;
  margin-right: 5px;
  font-size: 12px;
}

.navInfo {
  display: flex;
  justify-content: left;
  width: 100%;
  padding: 0px;
  margin: 0px;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}

.navInfo_inner {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0px 0px;
  margin: 0px;
}

.navInfoImage {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.nav_img {
  width: 70px;
  height: 70px;
  border-radius: 70%;
  border: 1px solid #d9d9d9;
}

.navInfoText * {
  width: 100%;
}

.navNickname {
  display: flex;
  align-items: center;
  margin-bottom: 0px;
}

.navLanguage {
  margin-top: 2px;
  font-size: 15px;
}

.navLanguage,
.navNickname {
  margin-left: 10px;
}

.NativeNavs {
  width: 19px;
  height: 19px;
  margin-right: 4.5px;
}

/* 투어 일정 */
.tourPlan {
  width: 100%;
  text-align: left;
  border-bottom: 1px solid #d9d9d9;
}

.tourPlanContainer {
  display: flex;
  flex-direction: column;
}

/* 투어 당부사항 */
.tourReminder {
  width: 100%;
  text-align: left;
  padding-left: 0 20px;
  border-bottom: 1px solid #d9d9d9;
}

.tour_title,
.tourReminderPrive,
.tourReminderDecription,
.tourPlanTitle {
  font-weight: bold;
}

.tour_info,
.navInfo,
.tourPlan,
.tourReminder,
.tourReview {
  width: 100vw;
  box-sizing: border-box;
  padding: 0 10px;
}

.tourPlan {
  padding-bottom: 20px;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

html {
  width: 100%;
  height: 100%;
}

.buttonContainer {
  display: flex;
  justify-content: end;
  padding: 10px 0;
  margin: 0;
}

.Button {
  border: none;
  background-color: white;
  font-size: 18px;
  padding: 0;
}

.WriterOnlyOptionSection {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  right: 10px;
  top: 10px;
  z-index: 1000;
}

.WriterOptions {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

button {
  height: 30px;
  font-size: 20px;
}

.buttonEdit {
  width: 25vw;
  background-color: #d9d9d9;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  transition: all 0.05s ease-in-out;
}

.buttonDelete {
  width: 25vw;
  background-color: #ff3333;
  border-radius: 5px;
  border: none;
  color: white;
  margin-top: 10px;
  transition: all 0.05s ease-in-out;
}

.buttonDelete:active,
.buttonEdit:active {
  transform: scale(0.95);
}

.buttonDelete:focus,
.buttonEdit:focus {
  outline: none;
}

@keyframes rotateNeedle {
  0% {
    transform: rotate(0deg);
  }
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(1440deg);
  }  
}  

.needle {
  position: absolute;
  width: 30%; /* 바늘 이미지 크기 */
  height: 30%;
  transform-origin: center center; /* 바늘의 중심을 회전 축으로 설정 */
  animation: rotateNeedle 4s cubic-bezier(0.5, 0, 0.5, 1) infinite; /* 1초 동안 지수적으로 가속하며 360도 회전, 무한 반복 */
  z-index: 2; /* 바늘 이미지가 앞에 위치 */
}
.compassContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 140px;
  height: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.backgroundImage {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.categoryContainer {
  display: flex;
  gap: 5px;
}

.categoryBox {
  padding: 0 5px;
  border-radius: 5px;
  color: white;
  background-color: #20bec9;
  margin: 2px;
}