.ReservationList {
  width: 100%;
} 

/* .upcomingTourList {

} */

.reservationLength {
  padding-left: 10px;
}


.upcomingTourList {
  width: 100%;
}

.completedTourList {
  display: flex;
  flex-direction: column;
  padding: 0px 10px;
}

.completedTourList > div {
  margin-bottom: 20px;
}

