.Create1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.thumbnailPart {
  display: flex;
  flex-direction: column;
}

.thumbnailPart p {
  flex: 1;
}

.thumbnail input {
  width: 15vw;
  height: 15vw;
  background-color: rgb(240, 240, 240);
  border-radius: 5px;
  position: relative;
}

.thumbnail > input::file-selector-button {
  display: none;
}

.dateSelect
  &input[type="date"]::-webkit-clear-button
  &input[type="date"]::-webkit-inner-spin-button {
  display: none;
}
