.Create2 {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  align-items: center;
  z-index: 1;
}

.Header {
  width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  p {
    font-size: 18px;
    font-weight: 600;
  }
  img {
    width: 30px;
    height: 30px;
    border-radius: 70%;
  }
}

.PlanList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.PlanListEmpty {
  width: 80vw;
  height: 100px;
  border-radius: 5px;
  border: 1px solid #d9d9d9;
  text-align: center;

  padding: 10px;
  margin: 10px;
}
