.mapModal {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: start;
  position: fixed;
  width: 100vw;
  height: 85vh;
  left: 0px;
  bottom: 0px;
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
  z-index: 11000;
}

.ModalBackground {
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0px;
  bottom: 0px;
  background-color: rgba(240, 240, 240, 0.8);
}

.CloseModal {
  align-self: flex-end;
  position: fixed;
  z-index: 10;
  img {
    position: relative;
    width: 30px;
    height: 30px;
    top: 2vw;
    right: 2vw;
  }
}
.SearchLocation {
  align-self: center;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-top: 10px;

  h4 {
    margin-left: 5%;
    font-size: 6vw;
    font-weight: bold;
    margin-bottom: 10px;
  }
  input[type="text"] {
    border: 1px solid #595959;
    height: 25px;
    width: 90%;
    height: 5vh;
    align-self: center;
    border-radius: 5px;
    margin-top: 0;
  }
}

.MapSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 90vw;
  margin-top: 10px;
  border-radius: 5px;
}

.SearchResult {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  width: 90vw;
  margin-top: 30px;

  .notSearch {
    align-self: center;
    font-size: 4vw;
    text-align: center;
    p {
      font-size: 20px;
      color: #595959;
      align-items: center;
    }
  }

  .Searched {
    align-self: center;
    font-size: 22px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p {
      font-size: 20px;
      align-self: center;
    }
  }
}

.mapsearchButton {
  width: 90vw;
  align-self: center;
  position: absolute;
  display: flex;
  flex-direction: row;
  bottom: 10vh;

  button {
    width: 20vw;
    height: 5vh;
    color: white;
    background-color: #20bec9;
    border: none;
    border-radius: 5px;
  }

  button:active {
    background-color: #1a9c9c;
    transition: background-color 0.2s, transform 0.1s, box-shadow 0.1s;
  }

  .disable {
    display: none;
  }

  .left {
    position: absolute;
    left: 10vw;
  }
  .right {
    position: absolute;
    right: 10vw;
  }
}
