/* src/components/Star/StarScore.css */
.star-score-wrap {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 5px;
}

.star-score-icons {
    display: flex;
    align-items: center;
}

.star-score-icon {
    display: inline-flex;
    margin-right: 2px; /* 별 사이의 간격 조정 */
}

.star-score-text {
    margin-left: 5px; /* 별과 점수 사이의 간격 조정 */
    font-size: 16px; /* 점수의 폰트 크기 조정 */
    font-weight: bold; /* 점수를 강조하기 위한 폰트 굵기 조정 */
}
