<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/room" method="post">
    <input name="tourId" id="tourId" placeholder="tourId"><br>

    <input name="senderId" id="senderId" placeholder="senderId"><br>

    <input name="senderNickname" id="senderNickname" placeholder="senderNickname"><br>

    <input name="senderIsNav" id="senderIsNav" placeholder="senderIsNav"><br>

    <input name="receiverId" id="receiverId" placeholder="receiverId"><br>

    <input name="receiverNickname" id="receiverNickname" placeholder="receiverNickname"><br>

    <input name="receiverIsNav" id="receiverIsNav" placeholder="receiverIsNav"><br>
    <input type="submit" value="방 만들기">
</form>
</body>
</html>