.heart {
    position: relative;
    width: 26px;
    height: 26px;
    background-color: #444; /* 기본 어두운 색 */
    transform: rotate(-45deg);
    margin: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;  
    left: 3px;
    top: -3px;
  }
  
  .heart::before,
  .heart::after {
    content: "";
    position: absolute;
    width: 26px;
    height: 26px;
    background-color: inherit;
    border-radius: 50%;
  }
  
  .heart::before {
    top: -10px;
    left: 0;
  }
  
  .heart::after {
    left: 10px;
    top: 0;
  }

  
  /* 클릭되지 않은 상태 */
  .heart-unliked {
    background-color: #ffffff;
  }
  
  /* 클릭된 상태 */
  .heart-liked {
    background-color: red;
  }
  