.heart {
    position: relative;
    width: 20px;
    height: 20px;
    background-color: #444;
    transform: rotate(-45deg);
    margin: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    z-index: 1000;
  }
  
  .heart::before,
  .heart::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: inherit;
    border-radius: 50%;
  }
  
  .heart::before {
    top: -10px;
    left: 0;
  }
  
  .heart::after {
    left: 10px;
    top: 0;
  }
  
  /* 클릭되지 않은 상태 */
  .heart-unliked {
    background-color: #444;
  }
  
  /* 클릭된 상태 */
  .heart-liked {
    background-color: red;
  }
  