/* PlanModal.module.css */

.Modal {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  position: fixed;
  width: 100vw;
  height: 85vh;
  left: 0px;
  bottom: 0px;
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
  z-index: 10000;
  overflow-y: auto; /* 스크롤 활성화 */
  -webkit-overflow-scrolling: touch; /* iOS에서 부드러운 스크롤 */
}

.ModalBackground {
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0px;
  bottom: 0px;
  background-color: rgba(240, 240, 240, 0.8);
}

.ButtonSection {
  display: flex;
  justify-content: space-between;
  align-self: center;
  align-items: center;
  width: 100%;
  padding: 10px 0;
  background: white;
  position: sticky;
  bottom: 0;
}

button {
  width: 20vw;
  height: 5vh;
  color: white;
  background-color: #20bec9;
  border: none;
  border-radius: 5px;
  margin: 0 5vw;
}

button:active {
  background-color: #1a9c9c;
  transition: background-color 0.2s, transform 0.1s, box-shadow 0.1s;
}

button:disabled {
  display: hidden;
  opacity: 0;
}
