.TourEditor3 {
  display: flex;
  flex-direction: column;
  z-index: 1;
  padding-bottom: 12vh;

  p {
    flex: 1;
    font-weight: bold;
    margin-left: 10vw;
    font-size: 20px;
    margin: 0 0 3vw 10vw;
    margin-bottom: 1vw;
  }
}

.Request {
  display: flex;
  flex-direction: column;
  width: 80vw;
  align-self: center;
}

.Request textarea {
  margin: 2vw;
  padding: 10px;
  height: 50vh;
  font-size: 16px;
  border: 2px solid #d9d9d9;
  min-height: 150px;
  border-radius: 10px;
  resize: vertical;
}

.comments {
  color: #595959;
  font-size: 14px;
  margin-left: 10vw;
}

.lengthCounter {
  margin-left: 10vw;
  color: #595959;
  font-size: 14px;
}

.ButtonSection {
  position: fixed;
  background-color: white;
  width: 100vw;
  height: 10vh;
  bottom: 0;
  background-color: white;
  border-top: 1px solid #d9d9d9;

  button {
    width: 20vw;
    height: 6vh;
    color: white;
    background-color: #20bec9;
    border: none;
    border-radius: 5px;
    bottom: 2vh;
  }

  button:active {
    background-color: #1a9c9c;
    transition: background-color 0.2s, transform 0.1s, box-shadow 0.1s;
  }
  button:focus {
    outline: none;
  }

  .leftButton {
    position: absolute;
    left: 10vw;
  }

  .rightButton {
    position: absolute;
    right: 10vw;
  }
}
