.TourConfirm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 12vh;

  hr {
    color: #595959;
    margin: 0px 20%;
  }
}

.TourThumbnailCheck {
  width: 100vw;
  display: flex;
  flex-direction: column;

  p {
    margin-left: 20px;
    align-self: left;
    font-weight: bold;
    font-size: 22px;
  }

  img {
    align-self: center;
    display: block;
    height: min(40vw, 40vh);
    width: min(40vw, 40vh);
  }
}

.TourTitle {
  width: 100vw;
  display: flex;
  flex-direction: column;
  p {
    margin-left: 20px;
    align-self: left;
    font-weight: bold;
    font-size: 22px;
  }

  > div {
    margin: 10px 30px;
    font-size: 25px;
    color: #595959;
  }
}

.TourDuration {
  width: 100vw;
  display: flex;
  flex-direction: column;
  p {
    margin-left: 20px;
    align-self: left;
    font-weight: bold;
    font-size: 22px;
  }

  .TourDateShow {
    display: flex;
    justify-content: center;
    align-items: center;

    span {
      font-size: min(25px, 4vw);
      margin: 0px 10px;
    }

    .DateBox {
      font-size: 20px;
      color: #595959;
    }
  }
}

.TourMaxPeople {
  width: 100vw;
  display: flex;
  flex-direction: column;
  p {
    margin-left: 20px;
    align-self: left;
    font-weight: bold;
    font-size: 22px;
  }

  > div {
    width: 80vw;
    align-self: center;
    font-size: 24px;
    color: #595959;
  }
}

.TourPlanList {
  width: 100vw;
  display: flex;
  flex-direction: column;
  > p {
    margin-left: 20px;
    align-self: left;
    font-weight: bold;
    font-size: 22px;
  }

  .TourPlanItem {
    justify-self: center;
    align-items: center;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.TourTheme {
  width: 100vw;
  display: flex;
  flex-direction: column;
  > p {
    margin-left: 20px;
    align-self: left;
    font-weight: bold;
    font-size: 22px;
  }
}

.TourThemeList {
  display: flex;
  align-self: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 80vw;

  .TourThemeItem {
    border: 1px solid #595959;
    font-size: 20px;
    border-radius: 10px;
    border: 1px solid #d9d9d9;
    padding: 2px;
    display: inline-block;
    width: 20vw;
    text-align: center;
    margin: 10px 10px;
  }
}

.ButtonSection {
  position: fixed;
  background-color: white;
  width: 100vw;
  height: 10vh;
  bottom: 0;
  background-color: white;
  border-top: 1px solid #d9d9d9;

  button {
    width: 20vw;
    height: 6vh;
    color: white;
    background-color: #20bec9;
    border: none;
    border-radius: 5px;
    bottom: 2vh;
  }

  button:active {
    background-color: #1a9c9c;
    transition: background-color 0.2s, transform 0.1s, box-shadow 0.1s;
  }
  button:focus {
    outline: none;
  }

  .leftButton {
    position: absolute;
    left: 10vw;
  }

  .rightButton {
    position: absolute;
    right: 10vw;
  }

  .disabled {
    background-color: lightcoral;
  }

  .loading {
    background-color: #d9d9d9;
  }
}

.Tourdescription {
  width: 100vw;
  display: flex;
  flex-direction: column;
  p {
    margin-left: 20px;
    align-self: left;
    font-weight: bold;
    font-size: 22px;
  }
  > div {
    align-self: center;
    width: 80vw;
    padding: 2%;
    border-radius: 10px;
    border: 2px solid #d9d9d9;
    font-size: 18px;
  }
}

.TourExpectPrice {
  width: 100vw;
  display: flex;
  flex-direction: column;
  p {
    margin-left: 20px;
    align-self: left;
    font-weight: bold;
    font-size: 22px;
  }
  > div {
    width: 80vw;
    align-self: center;
    color: #595959;
    font-size: 24px;
  }
}
