.button_1 {
    color: white;
    background-color: #20bec9;
    border: none;
    border-radius: 5px;
}

.button_2 {
    color: white;
    background-color: #20bec9;
    border: none;
    border-radius: 5px;
}

.button_3 {
    color: white;
    background-color: #20bec9;
    border: none;
    border-radius: 5px;
}